@import "font-awesome-4.3.0/css/font-awesome.min.css";
.font-size(@size: 1) {
    font-size: 1px*(50 - @size*5);
}

.reveal {
    font-size: 32px;
    h1, h2, h3, h4, h5, h6 {
        text-transform: inherit;
    }
    h2 {
        border-bottom: 2px solid #FF5D00;
        margin-bottom: 30px;
    }
    blockquote {
        background: rgba(0, 0, 0, 0.05);
    }
    .dark {
        color: #F34800;
        font-style: normal;
    }
    .progress span {
        background: #FE001B;
    }
    .slide-number {
        color: #FE001B;
    }
    section {
        img {
            margin: 5px 0px;
            box-shadow: none;
            border: none;
            &.round {
                border-radius: 60px;
                border: 1px solid lightgray;
            }
        }
        &>* {
            position: relative;
            z-index: 2;
        }
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.91);
            content: " ";
            z-index: 1;
            padding: 30px;
            margin-top: -30px;
            margin-left: -30px;
            /* -webkit-filter: blur(25px); */
        }
        .circle {
            width: 5px;
            height: 5px;
            background: red;
            border-radius: 200px;
            display: block;
            margin: 0 auto;
            padding: 10px;
            transition: all .6s ease;
            &:after {
                content: attr(data-value);
                top: -47px;
                position: relative;
                left: -18px;
                background-color: #585858;
                color: white;
                padding: 1px 5px;
                border-radius: 4px;
                font-size: 17px;
            }
        }
        .rating {
            &:not(.visible) {}
            display: inline-block;
            margin: 0px 40px;
            span {
                vertical-align: bottom;
                display: block;
            }
            span:first-child {
                font-size: 30px;
            }
            span:last-child {
                font-size: 50px;
            }
            &:first-child {
                &.current-fragment {
                    margin-right: -30%;
                }
                span {
                    color: crimson;
                }
            }
            &:last-child span {
                color: dodgerblue;
            }
        }
    }
    table {
        tr {
            td {
                vertical-align: middle;
                text-align: center;
                padding: 20px 40px;
                border-bottom: 2px solid #E6E1E1;
                &.nowrap {
                    white-space: nowrap;
                }
            }
        }
    }
    table.questions {
        tr {
            td {
                vertical-align: middle;
                text-align: left;
                padding: 5px 20px;
                .font-size(5);
                white-space: nowrap;
            }
        }
    }
    table.feature {
        tr {
            td {
                font-size: 20px;
                padding: 10px;
                width: 10%;
                height: 50px;
            }
            td:nth-child(1) .circle {
                background: #cddc39;
            }
            td:nth-child(2) .circle {
                background: #00695c;
            }
            td:nth-child(3) .circle {
                background: #283593;
            }
            td:nth-child(4) .circle {
                background: #e65100;
            }
            td:nth-child(5) .circle {
                background: #4527a0;
            }
            td:nth-child(6) .circle {
                background: #b71c1c;
            }
            td:nth-child(7) .circle {
                background: #880e4f;
            }
            td:nth-child(8) .circle {
                background: #4a148c;
            }
        }
    }
    table.ml {
        tr {
            td {
                padding: 5px 0px;
            }
        }
    }
    .cross {
        color: red;
        font-weight: bolder;
    }
    .font-medium {
        .font-size(5);
    }
    .font-small {
        .font-size(6);
    }
    .font-very-small {
        .font-size(7);
    }
    .item {
        text-align: left;
    }
    .left-align,
    .left-align * {
        text-align: left;
    }
    .green {
        color: green;
    }
    .red {
        color: red;
    }
    .yellow {
        color: goldenrod;
    }
    .small-margin {
        padding: 5px;
    }
}